In [4]:
import pandas as pd

In [5]:
phone_data=pd.read_csv('phones_data.csv')
phone_data

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.0,27900.0,61,6.50,64.0,3174.0,9-2018
1220,1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.0,33720.0,28,6.50,64.0,3174.0,9-2018
1221,1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.0,9999.0,18,6.26,128.0,3750.0,11-2019
1222,1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.0,19010.0,2,6.65,128.0,4500.0,10-2020
1223,1223,Sigma mobile,x-style 35 Screen,NaN,952,907.0,785.0,944.0,75,3.50,NaN,1750.0,1-2020

In [43]:
phone_data1=phone_data.dropna()

In [45]:
x = phone_data1.drop(['best_price', 'lowest_price', 'highest_price'], axis=1)
y = phone_data1[['best_price', 'lowest_price', 'highest_price']]
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [47]:
phone_data1.dtypes

Unnamed: 0          int64
brand_name         object
model_name         object
os                 object
popularity          int64
best_price        float64
lowest_price      float64
highest_price     float64
sellers_amount      int64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object

In [49]:
# first method to convertion 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
features_cat = ['brand_name', 'model_name', 'release_date']
hottie = OneHotEncoder(sparse_output=False)
Transformer = ColumnTransformer(
    [("One_hotti", hottie, features_cat)],
    remainder="passthrough"
)
transformed_x = Transformer.fit_transform(x)
pd.DataFrame(transformed_x)

,0,1,2,3,4,5,6,7,8,9,...,803,804,805,806,807,808,809,810,811,812
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0,Android,422,36,5.0,8.0,2000.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1,Android,323,36,5.0,16.0,2000.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,2,Android,299,36,5.0,16.0,2000.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,3,Android,287,36,5.0,16.0,2000.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5,Android,71,2,5.8,64.0,3400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1218,iOS,842,47,6.5,512.0,3174.0
776,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1219,iOS,1101,61,6.5,64.0,3174.0
777,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1220,iOS,530,28,6.5,64.0,3174.0
778,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1221,Android,1174,18,6.26,128.0,3750.0
779,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1222,Android,752,2,6.65,128.0,4500.0

In [27]:
#second method of covertion

In [55]:
transformed_new=pd.get_dummies(phone_data1[['brand_name', 'model_name', 'release_date']])
transformed_new

,brand_name_2E,brand_name_AGM,brand_name_ALCATEL,brand_name_ASUS,brand_name_Apple,brand_name_Archos,brand_name_BlackBerry,brand_name_Blackview,brand_name_Bluboo,brand_name_CAT,...,release_date_8-2019,release_date_8-2020,release_date_9-2013,release_date_9-2014,release_date_9-2015,release_date_9-2016,release_date_9-2017,release_date_9-2018,release_date_9-2019,release_date_9-2020
0,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1218,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1219,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1220,False,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1221,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1222,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [57]:
# lets refit the model

In [59]:
x_train,x_test,y_train,y_test=train_test_split(transformed_new,y,test_size=0.2)
from sklearn.ensemble import RandomForestRegressor
phone_model=RandomForestRegressor()
phone_model.fit(x_train,y_train)
phone_model.score(x_test,y_test)

0.5429997078817157

In [61]:
phone_missing_value=pd.read_csv('phones_data.csv')
phone_missing_value

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1219,1219,Apple,iPhone XS Max 64GB Gold (MT522),iOS,1101,22685.0,16018.0,27900.0,61,6.50,64.0,3174.0,9-2018
1220,1220,Apple,iPhone XS Max Dual Sim 64GB Gold (MT732),iOS,530,24600.0,21939.0,33720.0,28,6.50,64.0,3174.0,9-2018
1221,1221,HUAWEI,nova 5T 6/128GB Black (51094MEU),Android,1174,8804.0,7999.0,9999.0,18,6.26,128.0,3750.0,11-2019
1222,1222,ZTE,nubia Red Magic 5G 8/128GB Black,Android,752,18755.0,18500.0,19010.0,2,6.65,128.0,4500.0,10-2020
1223,1223,Sigma mobile,x-style 35 Screen,NaN,952,907.0,785.0,944.0,75,3.50,NaN,1750.0,1-2020

In [63]:
# dealing with missing value first method
phone_missing_value.isna().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [69]:
phone_missing_value['os'].fillna('missing',inplace=True)
phone_missing_value['lowest_price'].fillna(phone_missing_value['lowest_price'].mean(),inplace=True)

C:\Users\babar\AppData\Local\Temp\ipykernel_17388\3710660715.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  phone_missing_value['lowest_price'].fillna(phone_missing_value['lowest_price'].mean(),inplace=True)

In [71]:
phone_missing_value.dropna(inplace=True)

In [75]:
phone_missing_value.isna().sum()

Unnamed: 0        0
brand_name        0
model_name        0
os                0
popularity        0
best_price        0
lowest_price      0
highest_price     0
sellers_amount    0
screen_size       0
memory_size       0
battery_size      0
release_date      0
dtype: int64

In [81]:
# dealing with missing value second method with sklearn

In [83]:
phone_missing_value=pd.read_csv('phones_data.csv')
phone_missing_value.head()

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422,1690.0,1529.0,1819.0,36,5.00,8.0,2000.0,10-2020
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287,1803.0,1659.0,2489.0,36,5.00,16.0,2000.0,9-2020
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047,1999.0,NaN,NaN,10,5.71,16.0,3000.0,4-2020

In [85]:
phone_missing_value.isna().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      260
highest_price     260
sellers_amount      0
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [87]:
phone_missing_value.dropna(subset=['os'],inplace=True)
phone_missing_value.isna().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                  0
popularity          0
best_price          0
lowest_price      236
highest_price     236
sellers_amount      0
screen_size         1
memory_size         0
battery_size       10
release_date        0
dtype: int64

In [89]:
x = phone_missing_value.drop(['best_price', 'lowest_price', 'highest_price'], axis=1)
y = phone_missing_value[['best_price', 'lowest_price', 'highest_price']]

In [97]:
print(x.columns)

Index(['Unnamed: 0', 'brand_name', 'model_name', 'os', 'popularity',
       'sellers_amount', 'screen_size', 'memory_size', 'battery_size',
       'release_date'],
      dtype='object')

In [95]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Imputers for different types of data
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
date_imputer = SimpleImputer(strategy='constant', fill_value='4')
num_imputer = SimpleImputer(strategy='mean')

# Defining the columns for each type
cat_features = ['brand_name', 'model_name', 'os']
date_feature = ['release_date']
num_features = ['battery_size', 'memory_size', 'screen_size', 'sellers_amount', 'highest_price', 'lowest_price', 'best_price', 'popularity']

# Setting up ColumnTransformer with correct format
imputer = ColumnTransformer(
    transformers=[
        ('cat_imputer', cat_imputer, cat_features),
        ('date_imputer', date_imputer, date_feature),
        ('num_imputer', num_imputer, num_features)
    ]
)

# Fit and transform the data
filled_x = imputer.fit_transform(x)

ValueError: A given column is not a column of the dataframe

In [99]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Imputers for different types of data
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
date_imputer = SimpleImputer(strategy='constant', fill_value='4')
num_imputer = SimpleImputer(strategy='mean')

# Defining the columns for each type based on actual DataFrame column names
cat_features = ['brand_name', 'model_name', 'os']
date_feature = ['release_date']
num_features = ['battery_size', 'memory_size', 'screen_size', 'sellers_amount', 'highest_price', 'lowest_price', 'best_price', 'popularity']

# Verify that the columns match the DataFrame's columns
print(x.columns)

# Setting up ColumnTransformer
imputer = ColumnTransformer(
    transformers=[
        ('cat_imputer', cat_imputer, cat_features),
        ('date_imputer', date_imputer, date_feature),
        ('num_imputer', num_imputer, num_features)
    ]
)

# Fit and transform the data
filled_x = imputer.fit_transform(x)

Index(['Unnamed: 0', 'brand_name', 'model_name', 'os', 'popularity',
       'sellers_amount', 'screen_size', 'memory_size', 'battery_size',
       'release_date'],
      dtype='object')

ValueError: A given column is not a column of the dataframe

In [101]:
x.dtypes

Unnamed: 0          int64
brand_name         object
model_name         object
os                 object
popularity          int64
sellers_amount      int64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object